.card {
    background-color: rgba(
        calc(2*var(--background)),
        0,
        calc(2*var(--background)),
        calc(var(--background-alpha))
    );
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.card h3, .card h4 {
    margin-bottom: 0;
}

.project-images {
    display: flex;
    flex-wrap: wrap;
}

.project-images figure {
    display: flex;
    flex-direction: column;
    width: min-content;
    height: min-content;

    margin: 0.5rem;
    outline: 0.33rem outset #aaa;
}

.project-images img, .project-images video {
    height: 18rem;
}

.project-images figcaption { 
    font-size: smaller;
    padding: 0.25rem;
    border-top: 0.33rem outset #aaa;
    height: 100%;
}

.card > p {
    margin-left: 1rem;    
}

ul.tags {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    padding: 0;
}

ul.tags li {
    display: inline;
    border: solid white 1px;
    border-radius: 1rem;
    padding: 0.33rem;
}

ul.tags li::before {
    content: "•";
}

form {
    display: flex;
}

form > label {
    margin: 0 1rem;
}

.details {
    margin-top: 1rem;
    max-height: fit-content; /* just bigger than the details */
}

.details.closed {
    display: none;
}

.details.closing {
    animation: open 0.25s linear reverse;
    overflow: hidden;
}

.details.opening {
    animation: open 0.25s linear;
    overflow: hidden;
}

@keyframes open {
    from {
        max-height: 0;
    }
    to {
        max-height: 125vh; 
    }
}

@media only screen and (max-width: 600px) {
    .card {
        margin: 0.5rem;
    }
    .project-images {
        flex-direction: column;
    }
    .project-images figure {
        width: 100%;
    }
    .project-images img, .project-images video {
        height: unset;
        margin: 0.5%;
    }
    ul.tags {
        position: unset;
        display: flex;
        flex-direction: column;
    }
    form {
        flex-direction: column;
    }
}
