@font-face {
    font-family: 'ASCII';
    src: url('/resources/fonts/ascii.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ANSI';
    src: url('/resources/fonts/ANSI_Shadow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BIOS';
    src: url('/resources/fonts/AcPlus_IBM_BIOS_ao.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
}

body {
    background-color: #101;
    background-image: linear-gradient(
        135deg in Oklab,
        lab(40% 73.82 0.32 / 0.33) 0%,
        lab(40% 73.82 0.32 / 0.33) 20%,
        lab(40% 31.81 -34.38 / 0.33),
        lab(40% 31.52 -63.66 / 0.33) 80%,
        lab(40% 31.52 -63.66 / 0.33) 100%);
    background-attachment: fixed;
    color: #eee;
    font-family: 'BIOS', sans-serif;
    padding: 1rem;
}

h1 {
    margin: 0;
}

h2 {
    font-size: 2rem;
}

header, main, footer {
    padding: 1rem;
    margin: 1rem;
    background-color: #1018;
}

header {
    text-align: center;
}

header > nav > ul {
    padding: 0;
}

header > nav > ul li {
    display: inline;
}

main {
    line-height: 1.5;
}


.ascii, .ansi {
    font-size: 6rem;
    font-weight: 100;
    line-height: 6rem;
}

.ascii {
    font-family: 'ASCII';
}

.ansi {
    font-family: 'ANSI';
}

@media only screen and (max-width: 600px) {
    .ascii, .ansi {
        font-size: 3rem;
        font-weight: 100;
        line-height: 3rem;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #fff;
    }
}

@media print {
    body {
        background-color: #fff;
        background-image: none;
    }
}
