@font-face {
    font-family: 'ASCII';
    src: url('/resources/fonts/ascii.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ANSI';
    src: url('/resources/fonts/ANSI_Shadow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BIOS';
    src: url('/resources/fonts/AcPlus_IBM_BIOS_ao.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root::before {
    /* crt scanline css from https://aleclownes.com/2017/02/01/crt-display.html */
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 500em;
    background-image: linear-gradient(var(--light-scanline) 50%, var(--dark-scanline) 50%);
    animation: turn-on 2s ease 0s 1 forwards;
    background-size: 100% var(--crt-scanline), var(--crt-scanline) 100%;
    pointer-events: none;
    z-index: 2;
}

:root {
    /* --crt-scanline: 0.25rem; */
    --light-scanline: #0000;
    --dark-scanline: #0003;
    --hover-transition: 0.25s;
}

body {
    background-color: #101;
    /* fallback for non lab */
    background-image: linear-gradient(
        to right bottom,
        #d053 0%,
        #d053 20%,
        #d4a3,
        #67f3 80%,
        #67f3 100%
    );
    background-image: linear-gradient(
        135deg in Oklab,
        lab(50% 73.82 0.32 / 0.33) 0%,
        lab(50% 73.82 0.32 / 0.33) 20%,
        lab(50% 31.81 -34.38 / 0.33),
        lab(50% 31.52 -63.66 / 0.33) 80%,
        lab(50% 31.52 -63.66 / 0.33) 100%
    );
    background-attachment: fixed;
    color: #eee;
    text-shadow: 0 0 0;
    font-family: 'BIOS', sans-serif;
    padding: 1rem;
}

h1 {
    margin: 0;
}

h2 {
    font-size: 2rem;
}

header, main, footer {
    padding: 1rem;
    margin: 1rem;
    background-color: #1018;
}

header {
    text-align: center;
}

header > nav > ul {
    padding: 0;
}

header > nav > ul li {
    display: inline;
}

main {
    line-height: 1.5;
}

a {
    transition: color var(--hover-transition);
    color: #e0e;
}

a:hover {
    color: #e8e;
}

a.current {
    color: #fff;
}

html {
  overflow-y: scroll;
}

li {
    margin-bottom: 1rem;
}

.ascii, .ansi {
    font-size: 6rem;
    font-weight: 100;
    line-height: 6rem;
}

.ascii {
    font-family: 'ASCII';
}

.ansi {
    font-family: 'ANSI';
}

@media only screen and (max-width: 600px) {
    .ascii, .ansi {
        font-size: 3rem;
        font-weight: 100;
        line-height: 3rem;
    }
    body {
        padding: 0.125rem;
    }
    header, main, footer {
        margin: 0.5rem;
        background-color: #1018;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #fff;
    }
}

@media print {
    body {
        background-color: #fff;
        background-image: none;
    }
}
