body {
    background-image: linear-gradient(
        in Oklab calc(pi * 1rad - atan(9/16)),
        #33031e 0%,
        #33031e 25%,
        #280633,
        #021033 75%,
        #021033 100%);
    /* the astute among you will see this is the bi flag but darker X3 */
    background-attachment: fixed;
    color: whitesmoke;
    font-family: 'Bariol', sans-serif;

}

header {
    background: rgba(0, 0, 0, 0.8);
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
}

section#projects {
    width: 70%;
}

section.project {
    padding: 12px 32px;
    background-color: rgba(0, 0, 0, 0.8);
}

ul.projectLinks {
    display: flex;
    list-style: none;
    li::before {
        content: ">";
        padding-left: 1rem;
        padding-right: 0.5rem;
    }
}

a {
    color:#c71fff;
}


figure.projectImages {
    display: flex;
    margin: 0;
    width: 100%;
    gap: 5px;
    img {
        flex: 1;
        height: auto;
        width: 100%;
    }
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.8);
}

@font-face {
    font-family: 'Bariol';
    src: url('fonts/bariol_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol';
    src: url('fonts/bariol_bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol';
    src: url('fonts/bariol_regular_italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
