:root {
    --crt-hue: 300deg;
    --crt-scanline: 0.25em;
    --border-thickness: 0.25em;
    --crt-color: hsl(var(--crt-hue), 69%, 65%);
    --dotted-border: dotted hsl(var(--crt-hue), 100%, 90%) var(--border-thickness);
    --transition-time: 0.25s;
    --light-scanline: #0000;
    --dark-scanline: #0002;

    transition: var(--transition-time);
    /* animation: gay 5s ease infinite; */
}

@keyframes gay {
    0% { --crt-hue: 0deg}
    10% {--crt-hue: .1turn}
    20% {--crt-hue: .2turn}
    30% {--crt-hue: .3turn}
    40% {--crt-hue: .4turn}
    50% {--crt-hue: .5turn}
    60% {--crt-hue: .6turn}
    70% {--crt-hue: .7turn}
    80% {--crt-hue: .8turn}
    90% {--crt-hue: .9turn}
    100% {--crt-hue: 1turn}
    
}


:root::before {
    /* crt scanline css from https://aleclownes.com/2017/02/01/crt-display.html */
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 500em;
    background-image: linear-gradient(var(--light-scanline) 50%, var(--dark-scanline) 50%);
    animation: turn-on 2s ease 0s 1 forwards;
    background-size: 100% var(--crt-scanline), var(--crt-scanline) 100%;
    pointer-events: none;
    z-index: 2;
}

@keyframes turn-on {
    from { background-color: #000;}
    to {background-color: #0000;}
}


/* Nav and Footer */

body {

    /* Remove default page margins for the entire body element. */
    margin: 0;

    --gradient-top: calc(var(--crt-hue) + 26deg);
    --gradient-mid: calc(var(--crt-hue) - 15deg);
    --gradient-bot: calc(var(--crt-hue) - 77deg);
    
    background-image: linear-gradient(in oklab calc(pi * 1rad - atan(9/16)), 
        hsl(var(--gradient-top), 89%, 11%) 0%,
        hsl(var(--gradient-top), 89%, 11%) 25%,
        hsl(var(--gradient-mid), 79%, 11%),
        hsl(var(--gradient-bot), 92%, 10%) 75%, 
        hsl(var(--gradient-bot), 92%, 10%) 100%);
    

    background-size: cover;
    background-color: var(--crt-color);
    color: var(--crt-color);
    font-size: 18px;
    text-shadow: 0 0 1em;

    font-family: "Audiowide", serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: inset hsl(var(--crt-hue), 69%, 30%) 0 0 5em 1em;


    cursor: url("/CV/images/cursors/bdNormal.cur"), default;
}

nav {
    /* style nav to differentiate it from the rest of the page (at least 2
     * properties ie. background-color …) 
     */
    padding: 0.25em;
    background: linear-gradient(to bottom, var(--crt-color) 80%, #0000 100%);
    color: #fff;
    text-shadow: 0 0 1em;

    /* make nav a flex parent and use a flex property to separate your name on 
     * the left and the contact link on the right  
     */
    display: flex;
    justify-content: space-evenly;
}

footer {
    /* style footer to differentiate it from the rest of the page (at least 2
     * properties) 
     */
    padding: 1em;
    background: linear-gradient(to top, var(--crt-color) 80%, #0000 100%);
    color: #fff;
    text-shadow: 0 0 1em;

    /* make footer a flex parent and justify the children center */
    display: flex;
    justify-content: center;
}


/* Splash page */

section.splash {
    /* style this top section of the page to make a 'splash' first impression */
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    border: var(--dotted-border);
    box-shadow: 0 0 1em, inset 0 0 1em;
    background-color: hsla(var(--crt-hue), 69%, 63%, 25%);
    border-radius: 2em;
    width: 85%;
    color: hsl(var(--crt-hue), 80%, 70%);
}

section.splash:hover {
    box-shadow: 0 0 2em, inset 0 0 2em;
}

h1 {
    /* change the default style (font, font-size, color….) using a Google font
     * and a color number 
     */
    font-family: "Tourney", serif; /* google font */
    font-style: normal;
    font-weight: bolder;
    display: inline-block;
    color: hsl(var(--crt-hue), 100%, 80%); /* color number */

    margin: 0;
    margin-top: 0.2em;
    margin-right: 0.5em;
    font-size: 3em;
}

section.splash img {
    /* Style the border and/or border-radius property of the headshot image */
    border-radius: 25%;
    border: solid var(--crt-color) 2px;

    filter: sepia(0.5) hue-rotate(var(--crt-hue)) saturate(3) brightness(1.2) drop-shadow(0 0 1rem);
    height: 11em;
    float: left;
    margin-right: 1em;
}

section.splash img.flag {
    filter: drop-shadow(0 0 1rem) saturate(1.5);
    border-radius: 0;
    border: unset;
    height: 2.5em;
    float: none;
    position: relative;
}

/* Change the style of this paragraph */
p#address {
    text-decoration: double underline;
}

/* Change the style of this paragraph */
p#tagline {
    font-style: italic;
    margin-bottom: 0;
}

/* Sections, etc. */

hr {
    /* Style >=2 border properties of the horizontal rules  */
    border: 0px;
    border-bottom: dotted var(--crt-color) var(--border-thickness);
    box-shadow: var(--crt-color) 0 0 1em;
}

h2 {
    /* Style the h2 headings of these sections using a Google font and a color 
     * number
     */
    font-family: "Tourney", serif; /* google font */
    font-style: normal;
    color: hsl(var(--crt-hue), 100%, 80%); /* color number */
    font-size: 2em; /* Set font size of >= 2 fonts */
    text-decoration:  double underline 1.5px;
}

h3 {
    font-family: "Tourney", serif;
    text-decoration: double underline 1px;
}

h4 {

  font-family: "Tourney", serif;
}

/* style the education paragraph as you prefer (you may add additional tags 
 * and/or classes )
 */
section#education h3 {
    margin: 0;
    font-size: 1.33em; /* Set font size of >= 2 fonts */
}

section#education div.school {
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
}

section#education div.school * {
    padding: 0;
    padding-top: 0.25em;
    margin: 0;
}

section#education div.school p {
    grid-column: 2;
    text-align: right;
}

section#education div.school h5 {
    grid-row: 2;
    font-style: italic;
}

ul {
    /* Change the default style of the unordered lists of these sections  */
    list-style-type: "> ";
    padding: 0;
}

dl {
    /* Style the description lists of these sections to use grid layout */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

dt {
    padding-bottom: 1em;
}

dd {
    text-align: right;
}

a {
    /* Set the color for the anchor text of links */
    color: hsl(var(--crt-hue), 100%, 90%);
    text-decoration: none; /* Remove the underline for the anchor text of links */
    transition: var(--transition-time);

    cursor: url("/CV/images/cursors/bdPaw.cur"), pointer;
}

a:hover {
    /* Style the hover state of links to be somehow different in this  state. */
    color: hsl(var(--crt-hue), 100%, 100%);
    text-shadow: 0 0 2em;
    text-decoration: underline;
}

section {
    padding: 1em;
    margin: auto;
    width: 85%;
    transition: var(--transition-time);
}

section:hover {
    box-shadow: 0 0 .5em, inset 0 0 .5em;
}

section#projects:hover {
    box-shadow: unset;
}

div.content {
    padding-left: 1em;
}

/* Project Cards */

div.three-col {
    /* style class three-col with display grid that creates a 3 column layout 
     * for its three child 'cards'.  ie. make the 3 card divs a 3 column layout
     * with some space between each child 
     */
    display: grid;
    /* I had permission to add more than 3 projects
     * https://piazza.com/class/m5h8dphqc8t6pv/post/37
     */
    grid-template-columns: repeat(10, 30em); 
    column-gap: 1.5em; /* some space between each child */
    padding-bottom: 2em;

    /* transform: translateX(-189em); */
    animation: slide 45s linear infinite;
}

@keyframes slide {
    from { transform: translateX(0); }
    to { transform: translateX(-189em); }
}

div.three-col:hover {
    animation-play-state: paused;
}

div.sliding-container::before, div.sliding-container::after {
    content: " ";
    height: 95%;
    position: absolute;
    top: 0;
    width: 1em;
    z-index: 1;
}

div.sliding-container:before {
    box-shadow: 0 0 2em 1em;
    left: -2em;
}
div.sliding-container:after {
    box-shadow: 0 0 2em 1em;
    right: -2em;
}

div.sliding-container {
    position: relative;
}

section#projects {
    overflow-x: hidden;
}

div.card {
    /* Style a card layout to create a ‘card style’ - visually separated 
     * (shadow, outline, background color, …)  
     */
    position: relative;
    top: 0;
    padding: 1em;
    border: var(--dotted-border);
    border-radius: 1em;
    box-shadow: 0 0 1em, inset 0 0 1em;
    background-color: hsla(var(--crt-hue), 69%, 63%, 25%);
    transition: var(--transition-time);

}

div.card img {
    /* style images within the card to position and appear appropriately within 
     * the card 
     */
    width: 85%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

div.card img.model {
    filter: hue-rotate(var(--crt-hue)) saturate(1.5) brightness(1.4) drop-shadow(0 0 1rem);

    display: inline;
}

div.card img.half {
    width: 45%;
}

div.card ul {
    padding-left: 1em;
}

div.card iframe {
    width: 100%;
    height: 25em;
}

div.card li:not(:last-child) {
    padding-bottom: 1em;
}

div.card:hover {
    box-shadow: 0 0 2.5em, inset 0 0 2.5em;;
    top: -1em;
}

div.card h3 {
    transition: var(--transition-time);
}

div.card:hover h3 {
    color: hsl(var(--crt-hue), 95%, 70%);
}

@media only screen and (max-width: 800px) {
    div.three-col {
        grid-template-columns: 1fr;
        row-gap: 1em;
        animation: unset;
    }
    div.card:nth-last-child(-n + 4) {
        display: none;
    }
    div.card:hover {
        top: 0;
    }
    div.sliding-container::before, div.sliding-container::after {
        box-shadow: none;
    }
    section {
        padding: 1em;
        margin: unset;
        width: unset;
    }
    div.content {
        padding-left: 0.5em;
    }
}

/******************* Contact *******************/

section#contact-header {
    text-align: center;
}

section#contact-header:hover {
    box-shadow: unset;
}

form.one-col {
    /* style class one-col that creates a 1 column container for the info, form
     * and submit button 
     */
    display: grid;
    grid-template-columns: 1fr;
    width: 50%;
    margin: auto;
}

input, textarea, button {
    /* style the input elements (input, textarea…) appropriately */
    font-family:inherit;
    margin: 1em;
    transition: var(--transition-time);
    background-color: hsl(var(--crt-hue), 100%, 80%);
    box-shadow: 0 0 1em var(--crt-color);
    border-color: var(--crt-color);
}

button {
    border-radius: 0.5em;
}

button:hover {
    background-color: hsl(var(--crt-hue), 60%, 60%);
}

#contact body, #thanks body {
    min-height: 100vh;
    padding: 0;
}

#contact footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}
      
#thanks p, #thanks h1 {
    margin-top: 0;
    display: block;
    text-align: center;
}

section#contact-header  h1 {
    margin-right: 0;
}

@media only screen and (max-width: 800px) {
    #contact footer {
        position: unset;
    }
    form.one-col {
        width: 100%;
    }
}